*{
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* background: #24252A; */
}

body{
    background: #24252A;
    min-height: 100vh;
}

img{
    height: 50px;
    background-size: cover;
}

a{
    text-decoration: none;
    color: #edf0f1;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

a:hover{
    cursor: pointer;
    color: #0088a9;
}

button{
    border: none;
    border-radius: 5px;
    width: 70%;
    height: 20px;
    transition: all 0.3s ease 0s;
    background: rgba(0, 136, 169, 1);
    color: #edf0f1;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
    background: rgba(0, 136, 169, 0.8);
}

button:focus{
    outline: none;
}

button:disabled{
    background: #f2f2f2;
}

input{
    height: 38px;
    padding: 0px 10px;
    border: 1px solid #ecedec;
    border-radius: 5px;
    background: #edf0f1;
}

input:focus{
    outline: none;
}

span{
    color: rgba(0, 136, 169, 1);
    font-weight: 700;
    transition: all 0.3s ease 0s;
}

span:hover{
    cursor: pointer;
    color: rgba(0, 136, 169, 0.8);
}

.logo-form{
    margin: 15px;
}

.login-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form-login{
    width: 450px;
    height: 610px;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

.form-login>*{
    margin: 20px;
}

.register-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form-register{
    width: 450px;
    height: 610px;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

.form-register>*{
    margin: 20px;
}

.form-header h1{
    font-size: 38px;
    color: #edf0f1;
    text-align: center;
    margin-bottom: 60px;
}

.form-content>*{
    margin: 20px;
}

.name-wrapper{
    display: flex;
    justify-content: space-between;
}

.name-wrapper>*{
    width: calc(50% - 5px);
}

.input-wrapper{
    text-align: center;
}

.input-wrapper input{
    width: 100%;
}

.message-error{
    background: #e74c3c;
    color: #edf0f1;
    border-radius: 5px;
    width: auto;
    margin: 5px;
    text-align: center;
}

.message-sucess{
    background: #27ae60;
    color: #edf0f1;
    border-radius: 5px;
    width: auto;
    margin: 5px;
    text-align: center;
}

.form-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.form-footer button{
    width: 63%;
}

.form-footer>*{
    margin: 10px    ;
}

.main-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.logo{
    cursor: pointer;
}

.nav-contents-left>*{
    margin: 10px;
}

.nav-contents-right>*{
    margin: 10px;
}

.nav-contents-right{
    margin-left: auto;
}

/* management */
.form-upload>*{    
    margin: 5px 50px;
}

.form-upload{
    display: flex;
    justify-content: flex-start;
}

.form-upload input{
    height: 22px;
}

.form-upload button{
    width: 10%;
    height: 22px;
}

.form-upload span{
    margin-left: auto;
}

.file-link{
    text-decoration: underline;
    color: #2980b9;
}
