* {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* background: #24252A; */
}

body {
    background: #24252A !important;
    min-height: 100vh;
}

.logo {
    height: 50px;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #edf0f1;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

a:hover {
    cursor: pointer;
    color: #0088a9;
}

button {
    border: none;
    border-radius: 5px;
    width: 70%;
    height: 20px;
    transition: all 0.3s ease 0s;
    background: rgba(0, 136, 169, 1);
    color: #edf0f1;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    background: rgba(0, 136, 169, 0.8);
}

button:focus {
    outline: none;
}

button:disabled {
    background: #f2f2f2;
}

input {
    height: 38px;
    padding: 0px 10px;
    border: 1px solid #ecedec;
    border-radius: 5px;
    background: #edf0f1;
}

input:focus {
    outline: none;
}

span:hover {
    cursor: pointer;
    color: rgba(0, 136, 169, 0.8);
}

textarea{
    width: 280px;
    height: 250px;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    outline: none;
    font-weight: 700;
}

.logo-form {
    margin: 15px;
}

.login-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form-login {
    width: 450px;
    height: 610px;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

.form-login>* {
    margin: 20px;
}

.register-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form-register {
    width: 450px;
    height: 610px;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

.form-register>* {
    margin: 20px;
}

.form-header h1 {
    font-size: 38px;
    color: #edf0f1;
    text-align: center;
    margin-bottom: 60px;
}

.form-content>* {
    margin: 20px;
}

.name-wrapper {
    display: flex;
    justify-content: space-between;
}

.name-wrapper>* {
    width: calc(50% - 5px);
}

.input-wrapper {
    text-align: center;
}

.input-wrapper input {
    width: 100%;
}

.message-error {
    background: #e74c3c;
    color: #edf0f1;
    border-radius: 5px;
    width: auto;
    margin: 5px;
    text-align: center;
}

.message-sucess {
    background: #27ae60;
    color: #edf0f1;
    border-radius: 5px;
    width: auto;
    margin: 5px;
    text-align: center;
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.form-footer>* {
    margin: 10px;
}

.form-footer button {
    width: 63%;
}

.preview-film h2{
    color: #95a5a6;
    margin-bottom: 20px;
}

.preview-film span{
    color: #ecf0f1;
}

.preview-film button{
    float: right;
    margin-right: 15px;
    width: 35%;
    background: #e67e22;
}

/* nagivation */
.nav-contents-right {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav-contents-right img {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the nav-contents-right on small screens */
.nav-contents-right .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.drop-down {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the nav-contents-right */
.drop-down .drop-btn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.drop-down-content {
  display: none;
  position: absolute;
  background-color: rgb(48, 47, 53);
  /* min-width: 160px; */
  width: calc(38px*3 + 5px);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 5px;
  height: calc(38px*7);
}

.drop-down-content>*{
    margin: 5px;
    margin-left: 11px;
    color: #ecf0f1;
    font-weight: 700;
}

/* Style the links inside the dropdown */
.drop-down-content img {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Add a grey background to dropdown links on hover */
.drop-down-content img:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.drop-down-content .user-name{
    max-width: calc(38px*3 - 10px);
    word-break: break-word;
    display: inline-block;
}

.drop-down-content span:hover{
    text-decoration: underline;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.drop-down:hover .drop-down-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the nav-contents-right (.icon) */
@media screen and (max-width: 600px) {
  .nav-contents-right a:not(:first-child), .drop-down .drop-btn {
    display: none;
  }
  .nav-contents-right img.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the nav-contents-right with JavaScript when the user clicks on the icon. This class makes the nav-contents-right look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav-contents-right.responsive {position: relative;}
  .nav-contents-right.responsive img.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-contents-right.responsive img {
    float: none;
    display: block;
    text-align: left;
  }
  .nav-contents-right.responsive .drop-down {float: none;}
  .nav-contents-right.responsive .drop-down-content {position: relative;}
  .nav-contents-right.responsive .drop-down .drop-btn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/* nagivation */

.main-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.logo {
    cursor: pointer;
}

.nav-contents-left>* {
    margin: 10px;
}

.nav-contents-right>* {
    margin: 10px;
}

.nav-contents-right {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.avatar:hover {
    cursor: pointer;
}

.avatar img {
    height: 38px;
}

/* management */

.form-upload>* {
    margin: 5px 50px;
}

.form-upload {
    display: flex;
    justify-content: flex-start;
}

.form-upload input {
    height: 22px;
    font-weight: 700;
}

.form-upload button {
    width: 44px;
    height: 22px;
}

.form-upload div {
    margin-left: auto;
}

/* .form-upload .description{
    width: 270px;
    height: 250px;
    bor
} */

.input-wrapper span{
    margin-bottom: 20px;
}

.management>* {
    margin: 5px 50px;
}

.management h2 {
    color: #2980b9;
    padding: 0 10px;
    font-size: 20px;
}

.list-films {
    width: 93%;
    height: auto;
    border: 1px solid #ecf0f1;
}

.list-films>* {
    margin: 5px 10px;
}

.film-content span {
    color: #ecf0f1;
    font-size: 16px;
}

.film-content button {
    width: 44px;
    height: 22px;
    margin-left: 20px;
}

.film-content .info-film{
    color: #2980b9;
}

/* style of modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    height: 30%;
    width: 30%; /* Could be more or less, depending on screen size */
  }

  .modal-content>*{
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  .modal-content button{
    background: rgba(0, 136, 169, 1);
    padding: 4.5px 15px;
    height: 22px;
    width: 44px;
  }

  .info-edit>*{
    margin: 5px;
  }

  .info-edit input{
    width: 100%;
  }
  
  /* The Close Button */
  .close {
    float: right;
    margin-top: 5px;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }




  /* ---------------------------------------------------------------------------------*/

  
/* Background trailer */

.content{
    /* overflow: hidden; */
    margin-top: 0px;
    width: 100%;

}

.background-trailer-wrapper{
    width: 100%;
    padding-top: 35%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #000;

}

.background-trailer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.background-trailer-wrapper-table {
    margin-left: 30px;
    width: 100%;
    height: 100%;
}

.background-trailer-table-content {
    color: white;
}


.image-trailer {
    width: 75%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
   
}

.image-trailer-fill {
    width: 100%;
    right: 30px;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    /* opacity: 30%;  test*/ 
}

.background-trailer-description, .background-trailer-actions {
    padding-top: 10px;
}

.action-button > button {
    max-width: max-content !important;
    border-radius: 5px;
    text-align: center;
    padding: 0px 15px;

}

/* Films */

.rowHeader {
    margin-left: 30px;
    color: white;
}

.row-title-header {
    /* color: white; */
}

.films-list{
    margin-top: 30px;
}

.film-content {
    margin: 10px 30px;
    max-width: 100%;
    overflow: hidden;
}

.film-container-row  {
    position: relative;
}

.carousel-item{
    height: fit-content;
}

.carousel-inner {
    display: flex;
}

.film-element {
    margin-top: 20px;
}

.row-container {
    display: flex;
    width: 20%;
}


/* Image Film */

.active{
    background: #24252A ;
}


.d-block {
    margin: 10px;
    transition: all 0.3s ease 0s;
}

.d-block:hover {
    transform: scale(1.5);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

#btn-show-box{
    display: none;
}